dist: trusty
sudo: false
language: python

python:
- 2.7
- &latest_py3 3.6

jobs:
  fast_finish: true
  include:
  - stage: deploy
    if: tag IS present
    python: *latest_py3
    install: skip
    script: skip
    deploy:
      provider: pypi
      on:
        tags: true
        all_branches: true
      user: jaraco
      password:
        secure: biQEz9Cj1jtsTAjRztnKiJfYSA930L42f67duu7L2vdomRw/sGQOZ7ygStibeHj0mk8w+o5PV7f8oYu0NfKoonc5PF2Zlmj7izEC9Sl7zS6n8NwvToVqAuQikurfk8Fa1qv5ppqaJcbofT6/lI8Cx9fqucwCSqsIcwka7XB4Oaf+aycfVsKr/G302UTw82SnGiteYFPZeTkqUQx5zVJJ09dyTdDYc8YWP6VqmpE0KX2XxyXIwESglVXB7mf7AGI9VRh1Pji1SmsiONMmFC+UX1Um/HHhHG7Id+wKy1eO3/JYbLlq4IyZT7HnBZMVIf0Ib5fxrX7RztSO2H0tOEa1/acJQSoBMICD2j/fKk3BoxIBkY4qiKpiktNlka7AbzfBqj2qABoZFXlNIV2FPFSE6qZNUXe+NMHFVaQ5+7VS6JZUZQIt4+klbpH+UJTVIXSzbZpu2trsLsXyXdZLIYk5lg5tpGfj9DEblSJgJoMvmOmuPZMcjTfquPIw+oJ1EJayQL69VnA4czErKE1sla5ArKCEnV6yhDLFv2uze8f+XJq5Ed7ccnXEgIMW/nNRgZVLiQCbT1x5hGzKdNGUiDe6LWF8YbfbJnjEDTshBZXS0vNfPbxhkzLfzsji2kovOH6gH/Rme4ZF6RjAoMejeOPTYbB7AA2kWWeW5qlynU4ARi0=
      distributions: dists
      skip_cleanup: true
      skip_upload_docs: true

cache: pip

install:
- pip install tox tox-venv

script: tox
